<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>criar empresa</h1>
    <form action="/criarEmpresa" method="post">
        <input type="text" name="nomeEmpresa" class="form-control" placeholder="Digite o nome da empresa" required>
        <input type="text" name="emailEmpresa" class="form-control" placeholder="Digite o email da empresa" required>
        <input type="text" name="senhaEmpresa" class="form-control" placeholder="Digite uma senha para a empresa" required>
        <input type="text" name="logo" class="form-control" placeholder= "Ponha uma logo para a empresa">
        <input type="text" name="descricaoEmpresa" class="form-control" placeholder="Digite uma breve descrição da empresa" required>
        <button type="submit">clica ai</button>
    </form>
    <h1>atualizar empresa</h1>
    <form action="/atualizarEmpresa" method="post">
        <input type="text" name="antigoNomeEmpresa" placeholder="Digite o antigo nome da empresa">
        <input type="text" name="novoNomeEmpresa" class="form-control" placeholder="Digite o novo nome da empresa" required>
        <input type="text" name="novoEmailEmpresa" class="form-control" placeholder="Digite o novo email da empresa" required>
        <input type="text" name="novaSenhaEmpresa" class="form-control" placeholder="Digite uma nova senha para a empresa" required>
        <input type="text" name="novoLogo" class="form-control" placeholder="Ponha uma nova logo para a empresa">
        <input type="text" name="novaDescricaoEmpresa" class="form-control" placeholder="Digite uma nova e breve descrição da empresa" required>
        <button type="submit">clica ai dog</button>
    </form>
    <h1>deletar empresa</h1>
    <form action="/deletarEmpresa" method="post">
        <input type="text" name="antigoNomeEmpresa" placeholder="Digite o nome da empresa que será deletada">
        <button type="submit">Clica ai dog</button>
    </form>
    <h1>criar usuario</h1>
    <form action="/criarUsuario" method="post">
        <input type="text" name="nomeUsuario" placeholder="Digite seu nome">
        <input type="text" name="emailUsuario" placeholder="Digite seu email">
        <input type="text" name="senhaUsuario" placeholder="Digite suia senha">
        <input type="text" name="fotoUsuario" placeholder="Ponha sua foto de perfil">
        <button type="submit">clica ai</button>
    </form>
    <h1>atualizar usuario</h1>
    <form action="/atualizarUsuario" method="post">
        <input type="text" name="antigoNomeUsuario" placeholder="Digite o nome do usuario que deseja mudar">
        <input type="text" name="novoNomeUsuario" placeholder="Digite seu novo nome">
        <input type="text" name="novoEmailUsuario" placeholder="Digite seu novo email">
        <input type="text" name="novaSenhaUsuario" placeholder="Digite sua nova senha">
        <input type="text" name="novoFotoUsuario" placeholder="Ponha sua nova foto de perfil">
        <button type="submit">clica ai</button>
    </form>
    <h1>deletar usuario</h1>
    <form action="/deletarUsuario" method="post">
        <input type="text" name="antigoNomeUsuario" placeholder="Digite o nome do usuario que será deletado">
        <button type="submit">Clica ai dog</button>
    </form>
</body>
</html>