<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="landingpage.css" media="screen" />


</head>
<body>
    <h1>Seja bem-vindo</h1>
    
    <div id="divBusca">
        <input type="text" id="txtBusca" placeholder="Buscar..."/>
      </div>

    <button type="submit">Cadastrar</button>
    <button type="submit">login</button>

</body>
</html>