<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/setcookie" method="post" enctype="application/x-www-form-urlencoded" >
        <input type="text" name="loginEmail" placeholder="digite o seu email">
        <input type="password" name="senhaEmail" placeholder="digete sua senha">
        <button type="submit"></button>
    </form>
    <p> Não tem login? </p>
    <p> <a href="{{ url_for('cadastro') }}"> criar </a>
</body>
</html>